/.ipynb_checkpoints
*.xlsx

/xrd/obsolete
/xrd/.ipynb_checkpoints
/xrd/plots
/xrd/output
/xrd/input

/eis/.ipynb_checkpoints
/eis/__pycache__

/conductivity/.ipynb_checkpoints
/helpers/__pycache__
/stats/.ipynb_checkpoints



